<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <section id="dashboard">
            <article class="opciones">
                <div class="o-img">
                    <img src="../assets/img/0. logoforja.png" alt="Logo Forja">
                    <div class="o-item">
                        <i class="fa-solid fa-users"></i>
                        <p>Pacientes</p>
                    </div>
                    <div class="o-item">
                        <i class="fa-solid fa-syringe"></i>
                        <p>vacunación</p>
                    </div>
                    <div class="o-item">
                        <i class="fa-solid fa-power-off"></i>
                        <p>Cerrar sesión</p>
                    </div>
                </div>
            </article>
            <article class="bienvenida">
                
                <div class="i-form"> 

                    <div class="w-user">
                        <i class="fa-solid fa-user"></i>
                        <p>Carolina Loaiza</p>
                    </div>

                    <div class="titulo">
                        <h1>Bienvenidos</h1>
                    </div>

                    <form action="post">
                        <div class="ingresar">
                            <input type="text" placeholder="Digite el número de documento">
                            <a href="dashboard2.html"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="dashboard.html"><i class="fa-solid fa-rotate-right"></i></a>
                        </div>
                    </form>
                </div>

                <div class="b-fondo">
                    <img src="../assets/img/13. guerreros.png" alt="Imagen de fondo">
                </div>
                <div class="division">
                    <img src="../assets/img/12. franja.svg" alt="division">
                </div>
            </article>
        </section>
    </main>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>