<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Confirmación</title>
</head>
<body id="b-confirmacion">
    <div class="cuadro">
        <img src="../assets/img/logoforja.png" alt="Logo Forja">
        <h2 class="info-cuadro">Usuario no registrado, ¿Desea hacer el registro?</h2>
        <div class="c-botones"> 
            <button class="confirmar"><a href="pacientes.html">Sí, gracias</a></button> 
            <button class="cancelar"><a href="dashboard.html">Cancelar</a></button> 
        </div>
    </div>
</body>
</html>