<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <section id="dashboard">
            <article class="opciones">

                <div class="o-img">
                    <img src="../assets/img/logoforja.png" alt="Logo Forja">
                </div>

                <div class="o-opciones">
                    <button class="o-item"><i class="fa-solid fa-users"></i>Pacientes</button>
                    <button class="o-item"><i class="fa-solid fa-syringe"></i>Vacunación</button>
                    <button class="o-item"><a href="login.html"><i class="fa-solid fa-power-off"></i>Cerrar sesión</a></button>
                </div>
            </article>

            <article class="bienvenida">
                
                <div class="i-form"> 

                    <div class="w-user">
                        <i class="fa-solid fa-user"></i>
                        <p>Carolina Loaiza</p>
                    </div>

                    <div class="titulo">
                        <h1>Bienvenidos</h1>
                    </div>

                    <form action="dashboard2.html">
                        <div class="ingresar1">
                            <input type="text" placeholder="Digite el número de documento" required>
                            <div class="formulario-botones">
                                <a href="dashboard2.html"><i class="fa-solid fa-magnifying-glass"></i></a>
                                <a href="dashboard.html"><i class="fa-solid fa-rotate-right"></i></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="b-fondo">
                    <img src="../assets/img/guerreros.png" alt="Imagen de fondo">
                </div>
                <div id="division">
                    <img src="../assets/img/franja.svg" alt="division">
                </div>
            </article>
        </section>
    </main>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>