<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Pacientest</title>
</head>
<body>

    <header>
        <img src="../assets/img/0. logoforja.png" alt="Logo Forja">
        <div class="p-botones">
            <a href="index.html"><button><i class="fa-solid fa-house-user"></i></button></a>
            <a href="dashboard.html"><button><i class="fa-solid fa-power-off"></i></button></a>
        </div>

        <div class="division">
            <img src="../assets/img/12. franja.svg" alt="division">
        </div>

        
    </header>

    <footer>
        <p>&#9426 2021 Forja Empresas</p>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>