/* Tipografía estipulada*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

/* Paleta de colores estipulada*/

:root{
    --red-color: rgb(164,1,1);
    --blue-color: rgb(44,163,171);
    --gray-color: rgb(196,196,196);
    --orange-color: rgb(243,97,14);
    --darkblue-color: rgb(29,27,69);
}

/* Propiedades generales*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

/* Index.html*/

header {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    max-width: 1098px;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: 35%;
    flex-direction: row;
    padding: 0 30px 30px;
    margin: 1rem 0;
}

.logo1 {
    width: 210px;
    margin-right: .5rem;
 }

.jeringa {
   width: 70px;
}

.h-content{
    display: flex;
    align-items: center;
    flex-basis: 55%;
    flex-flow: wrap row;
    justify-content: flex-end;
    color: var(--gray-color); 
}

.h-content p {
    display: inline;
    font-size: small;
    align-items: flex-start;
    margin: .2rem;
}

.h-content i {
    color: rgb(243,97,14);
    margin: .2rem;
}

.h-content img {
    max-width: 730px;
}

.sesion {
    background-color: var(--darkblue-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 2rem;
    padding: .5rem;
    align-items: center;
}

.sesion i {
    color: white;
    margin-left: 0.2rem;
}

.sesion:hover {
    background-color: var(--orange-color);
    border: 1px solid var(--darkblue-color);
    transition: all 1s;
}


.f-doctor {
    position: relative;
}

.f-doctor img{
    width: 100%;
}

.mensaje {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -350px;
    margin-left: 150px;
    max-width: 900px;
    position: absolute;
}

.t1 {
    color: var(--orange-color);
    font-weight: 300;
} 

.t2 {
    font-weight: 300;
}

.division img{
    width: 100%;
}

.info-box {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content:space-around;
}

.info-box h3{
    color: var(--darkblue-color);
}

.t-contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.t-contenido img {
    max-width: 25px;
    max-height: 25px;
    margin-right: .5rem;
}

.signos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.25rem;
}

.sintomas {
    list-style: none;
    padding-left: 0;
}

.sintomas li {
    position: relative;
    padding-left: 20px;
    margin: 1.5rem 0 1.5rem;
}

.sintomas li:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("../img/6.\ check.svg");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
 
.pregunta {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.25rem;
}

.enlaces {
    background-color: var(--gray-color);
}

.enlaces p {
    background-color: var(--darkblue-color);
    color: white;
    padding: 1rem 0 1rem;
}

.enlaces p:hover {
    background-color: var(--gray-color);
    color: var(--darkblue-color);
    padding-left: 40px;
    transition: all 2s;
}

.oms {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.oms img {
    width: 150px;
}

.oms P {
    color: var(--blue-color);
    text-decoration-line: underline;
}

/*Footer*/

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
}

footer p{
    padding-bottom: 2rem;
}

/* login.html*/

.b-login {
    align-items: center;
    background-image: url(../img/10.png);
}

#ingreso {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight:400;
    padding: 2rem;
}

.b-volver {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.volver {
    background-color: var(--darkblue-color);
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: .5rem;
    padding: .5rem;
    align-items: center;
}

.volver:hover {
    background-color: var(--blue-color);
    border: 1px solid var(--darkblue-color);
    transition: all 1s;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-form {
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    width: 500px;
}

.logo-form{
    align-items: center;
    background-color: #A7D9D9;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form1 {
    align-items: center;
    background-color: white;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.item input {
    background-color: #ddf3f3;
    border: 1px solid #A7D9D9;
    border-radius: 10px;
    height: 2rem;
    margin-top: .5rem;
}

.div1, .div2 {
    margin: .7rem;
}

.form1 button {
    background-color: var(--orange-color);
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: .5rem 1.8rem;
}

.div1 a {
    color: black;
    display: flex;
    font-size: 10px;
    justify-content: center;
}

/* dashboard.html*/

#dashboard {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    width: 100%;
}

.opciones {
    background-color: #181926;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 2rem 0;
    position: fixed;
}

.i-form {
    display: flex;
    flex-direction: column;
    margin: .4rem;
}

.w-user{
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-left: 850px;
    width: 200px;
}

.w-user i {
    background-color: white;
    border: 2px solid var(--orange-color);
    border-radius: 50%;
    margin: 0.2rem;
    padding: .5rem;
}

.titulo {
    color: var(--orange-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.o-img img {
    margin: 2rem 0;
}

.o-item {
    align-items: center;
    background-color: var(--gray-color);
    border: 3px solid  var(--orange-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem 0;
    text-align: center;
    padding: .5rem;
}

.o-item p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 254px;
    padding: 0 1rem;
    width: 100%;
}

.ingresar input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--darkblue-color);
    width: 300px;
}

.ingresar i {
    background-color: var(--darkblue-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    color: white;
    padding: .4rem .6rem;
}

.b-fondo {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.b-fondo img {
    width: 330px;
    height: 330px;
    opacity: 0.4;
}

.division {
    margin: 1rem 0;
}

/* dashboard2.html*/

#b-confirmacion {
    align-items: center;
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.cuadro {
    background-color: white;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
    padding: 2rem;
}

.cuadro h2 {
    color: var(--darkblue-color);
}

.c-botones {
    display: flex;
    justify-content: center;
}

.confirmar {
    background-color: var(--orange-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: white;
    margin: .5rem;
    padding: .5rem 1rem;
}

.cancelar {
    background-color: var(--darkblue-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: white;
    margin: .5rem;
    padding: .5rem 1rem;
}

/* Pacientes.html*/

.p-header {
    background-color: #181926;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem;
}

.p-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.p-1  img {
    width: 300px;
}

.p-botones button{
    border: 2px solid var(--blue-color);
    border-radius: 50%;
    height: 50px;
    margin: .2rem;
    width: 50px;
}

.p-division {
    display: flex;
    padding: 0;
}

.p-division img {
    border-bottom: 7px solid var(--blue-color);
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* max-width: 1069px; */
    max-height: 200px;
}

.p-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
}

.p-section h1{
    text-transform: uppercase;
    text-decoration: underline var(--blue-color);
}

.p-form{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.form-p {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .3rem;
}

.form-p input {
    border: 2px solid #A7D9D9;
    border-radius: 10px;
    display: inline;
    flex-basis: 80%;
    height: 2rem;
}

.form-p i {
    background-color: var(--darkblue-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    color: white;
    flex-basis: 20%;
    padding: .4rem .6rem;
}

.p-table{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

table {
    background-color: var(--blue-color);
    text-align: center;
}

table th {
    background-color: var(--darkblue-color);
    color: white;
    padding: .5rem 2rem;
    text-transform: uppercase;
}

table td {
    background-color: var(--gray-color);
    padding: .5rem 2rem;
}

.editar {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    color: #181926;
    padding: .4rem;
}

.eliminar {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    border-radius: 5px;
    color: white;
    padding: .4rem;
}

.editar i, .eliminar i {
    padding: .2rem;
}


/* pacientesRegistro.html*/

.r-section {
    border: 2px solid var(--gray-color);
    margin: 1rem;
    padding: 2rem;
}

.h1-important {
    background-color: var(--darkblue-color);
    border: 1px solid var(--darkblue-color);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    text-transform: uppercase;
    font-weight: 500;
}

.form-registro {
    background-color: var(--gray-color);
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-registro input, .form-registro select, .form-registro::placeholder {
    color: grey;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    margin: .5rem;
}

.r-labels {
    align-items: center;
    background-color: var(--blue-color);
    border: 1px solid var(--darkblue-color);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: .2rem 0;
    text-transform: uppercase;
    width: 100%;
}

.r-labels i {
    align-items: flex-start;
    color: black;
    display: flex;
    height: 20px;
    justify-content: flex-start;
    position: absolute;
    width: 20px;
    margin-left: -1100px;
}

#sub-h1 {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    position: static;
}

.form-part1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.form-part1 input {
    margin: .4rem;
    min-height: 30px;
    width: 200px;
}

.form-part2, .form-part3 {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.subdiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.subdiv input, .subdiv select {
    min-height: 30px;
    width: 45%;
}

.form-part4 input, .form-part4 select{
    min-height: 30px;
}

.selector {
    display: flex;
    justify-content: center;
}

.r-boton {
    display: flex;
    justify-content: center;
    margin: 1rem;
}